<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="copyright">
     <p>Copyright @ 2022 Fakebook inc</p>
    </div>
    <div class="tags">
        <p>Home</p>
        <p>Profile</p>
    </div>
</footer>