<link rel="stylesheet" href="/css/home.css" />
<body>
  <main>
    <div class="main-container">
      <section id="feed-posts">
        <h1>Home Page </h1>
        <h3>Posts</h3>
        <% if(locals.user){%>
          <form action="/posts/create" id="new-post-form" method="post">
            <textarea
              name="content"
              cols="30"
              rows="3"
              placeholder="write your post..."
              required
            ></textarea>
            <input type="submit" value="Post" />
          </form>
        <%}%>
      
        <div>
          <%for(post of posts){%>
           <%- include("_post")%>
      <%}%>
        </div>
        
      </section>
      <section id="user-friends">
      <h4>Friends</h4>
      <%for(u of all_users){%>
       <p>
         <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
       </p>
      <%}%>
      </section>
    </div>
  </main>
</body>
