<link rel="stylesheet" href="/css/home.css" />
<body>
  <main>
    <h1>Home / <%= title%></h1>
    <section id="feed-posts">
      <h3>Post</h3>
      <form action="/posts/create" id="new-post-form" method="post">
        <textarea
          name="content"
          cols="30"
          rows="3"
          placeholder="write your post..."
        ></textarea>
        <input type="submit" value="Post" />
      </form>
    </section>
<div>
  <%for(i of posts){%>
     <p><%= i.content%></p>
  <%}%>
</div>

  </main>
</body>
