footer {
  height: 10vh;
  width: 100%;
  background-color: lightseagreen;
  display: flex;
  margin-top: auto;
}

footer .copyright {
  margin: 0px 15px;
}

footer .copyright p {
  font-size: 1rem;
  color: whitesmoke;
}

footer .tags {
  margin: 0px 15px;
}

footer .tags p {
  font-size: 1rem;
  color: whitesmoke;
}
